*{
    padding: 0;
    margin: 0;
}

body, html{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: url(images/background.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

#head-img{
    background: url(images/starship.jpg) no-repeat;
    width: 100%;
    height: 315px;
    background-attachment: fixed;
    background-size: contain;
}

header{
    background-color: rgb(1, 1, 24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    width: 100%;
}

header h1{
    display: flex;
    font-weight: bolder;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 300px;
    font-size: 90px;
    color: white;
    text-shadow: 10px 10px 1px black;
    font-family: 'Times New Roman', Times, serif;

}

nav{
    background-color: salmon;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center; 
}

nav ul {
    background-color: rgb(1, 1, 24);
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
}

nav ul li {
    flex: 1;
    padding: 0 20px 0 20px;
    text-align: center;
    font-size: 35px;
    line-height: 100px;
    color: white;
}

nav ul li:hover{
    background-color: rgb(85, 85, 101);
    cursor: pointer;
}
section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 130px;
    padding: 60px 0 30px;
}

section h2{
    font-size: 60px;
    color: white;
    text-align: center;
    width: 70%;
    text-shadow: 2px 2px 1px black;
    padding: 0px 0 30px;
    border-bottom: 2px solid;
    border-color: white;
}

section h2:hover{
    color: rgb(169, 169, 169);
    border-color: rgb(169, 169, 169);
    cursor: pointer;
}
article{
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

article p {
    color: white;
    text-align: center;
    font-size: 50px;
    width: 90%;
}

footer{
    background-color: rgb(0, 0, 5);
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer ul{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 40px;
}

footer ul li{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 60px; 
    cursor: pointer;
}

footer ul li:hover > div{
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

footer ul li div{
    display: flex;
    align-items: center;
}

footer ul li div img{
    padding-right: 20px;
    height: 50px;
}

footer ul li div p {
    color: white;  
    font-size: 40px;
}

#footer_info {
    padding: 50px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    color: white;
    font-size: 20px;
    text-align: center;

}

